DATABASE_URL=postgresql://postgres:3ZcTcKyWAbFSW12D@db.boiuusbqmlrftpryestw.supabase.co:5432/postgres

# Use this for hosted PostgreSQL providers that require SSL.
DATABASE_SSL=true

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
